<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        .box {
            width: 50px;
            height: 50px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box {
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white;
        }
        .modal_overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }
        .modal_window{
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255,255,255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light" style="position: fixed; width : 100%">
        <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px;">
            <a class="navbar-brand" href="#"><img style="width: 100px"
                    src="https://fontmeme.com/images/instagram-new-logo.png"></a>

            <input class="form-control me-2" type="search" style="width:400px" placeholder="Search" aria-label="Search">

            <div>
                <span class="material-icons">home</span>
                <span class="material-icons-outlined">send</span>
                <span id="nav_add_box" class="material-icons-outlined">add_box</span>
                <span class="material-icons-outlined">explore</span>
                <span class="material-icons-outlined">favorite_border</span>
            </div>
        </div>
    </nav>
    <div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 65px; background-color: #FAFAFA;">
        <div style="min-width: 600px; height: 1000px; margin-right: 256px;">
            <!--feed-->
            {% for feed in feeds %}
            <div class="feed_box" style="border: solid 1px gray; background:white">
                <div style="display: flex; flex-direction: row; align-items: center; margin: 0 20px;">
                    <div class="box">
                        <img src="{{ feed.profile_image }}"
                            class="profile">
                    </div>
                    <div>
                        {{ feed.user_id }}
                    </div>
                </div>
                <div> <img style="width:600px; height:600px; object-fit: cover;"
                        src="{{ feed.image }}"> </div>
                <div style="margin: 0 20px; display: flex; flex-direction:row; justify-content: space-between">
                    <div>
                        <span class="material-icons-outlined">favorite_border</span>
                        <span class="material-icons-outlined">mode_comment</span>
                        <span class="material-icons-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined"> bookmark_border </span>
                    </div>
                </div>
                <div style="margin:0 20px; text-align: left; font-size: 14px;"> sgdsg <b>외 {{ feed.Like_count }}명</b>이 좋아합니다.</div>
                <div style="margin:0 20px; text-align: left; font-size: 16px;"> <b> {{ feed.user_id }} </b> {{feed.content}}</div>
                <div style="margin:0 20px; text-align: left; font-size: 16px;"> <b>spoof</b> me too </div>
                <div style="margin:0 20px; text-align: left; font-size: 16px;"> <b>don</b> luv </div>

                <div style="border-top: solid 0.5px ;"> <input type="text" class="form-control"
                        style="box-shadow: none; border : none; outline:none" placeholder="댓글 달기.."> </div>
            </div>
            {% endfor %}
            <!-- feedend -->
        </div>
        <div style="width: 400px; height: 1000px; position: fixed; left: 62%;">
            <div>
                <div style="display: flex; flex-direction: row; align-items: center; margin: 20px 0;">
                    <div class="box" style="width:70px; height: 70px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg"
                            class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;">
                            ming818
                        </div>
                        <div style="color: gray;">
                            MINGY
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="display: flex; justify-content: space-between">
                    <div style="font-weight: bold; color:gray">
                        회원님을 위한 추천
                    </div>
                    <div>
                        <a href="#" style="font-weight: bold; color:black; text-decoration:none">모두보기</a>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display:flex; flex-direction:row">
                    <div class="box" style="width:35px; height: 35px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg" class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold; font-size: 14px;">
                            lucky
                        </div>
                        <div style="color: gray;">
                            추천인 사유가 여기 들어감
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-weight: bold; text-decoration:none">팔로우</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display:flex; flex-direction:row">
                    <div class="box" style="width:35px; height: 35px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg" class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold; font-size: 14px;">
                            lucky
                        </div>
                        <div style="color: gray;">
                            추천인 사유가 여기 들어감
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-weight: bold; text-decoration:none">팔로우</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display:flex; flex-direction:row">
                    <div class="box" style="width:35px; height: 35px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg" class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold; font-size: 14px;">
                            lucky
                        </div>
                        <div style="color: gray;">
                            추천인 사유가 여기 들어감
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-weight: bold; text-decoration:none">팔로우</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display:flex; flex-direction:row">
                    <div class="box" style="width:35px; height: 35px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg" class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold; font-size: 14px;">
                            lucky
                        </div>
                        <div style="color: gray;">
                            추천인 사유가 여기 들어감
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-weight: bold; text-decoration:none">팔로우</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display:flex; flex-direction:row">
                    <div class="box" style="width:35px; height: 35px">
                        <img src="https://i.pinimg.com/474x/99/36/92/9936922c18153b4e43ab10e1b62233b4.jpg" class="profile">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold; font-size: 14px;">
                            lucky
                        </div>
                        <div style="color: gray;">
                            추천인 사유가 여기 들어감
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" style="font-weight: bold; text-decoration:none">팔로우</a>
                </div>
            </div>
            <div style="margin-top: 40px; font-size:12px; color:gray; text-align:left"> 소개 도움말 홍보센터 API <br> 개인정보처리방침  약관 위치   인기   계정   해시태그    언어  </div>
            <div style="margin-top: 20px; font-size:12px; color:gray; text-align:left">2021 인스타그램 프롬 페이스북</div>
        </div>
    </div>
<!-- 첫번째 모달 -->
    <div id ="first_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px;"></div>
                <div>
                    새 이미지 업로드
                </div>
                <div style="width: 40px;">
                    <span class="material-icons-outlined"> close </span>
                </div>
            </div>
            <div class="img_upload_space" style="border-top: solid 1px gray; width: 778px; height:540px; margin-top: 10px;">
    
            </div>
        </div>
    </div>
    <!-- 두번째 모달 -->
    <div id="second_modal" class="modal_overlay">
        <div class="modal_window">

            <div style="display: flex; flex-direction:row; justify-content:space-between">
                <div style="width: 40px;"></div>
                <div>
                    새 이미지 업로드
                </div>
                <div style="width: 40px;">
                    <span class="material-icons-outlined"> close </span>
                </div>
            </div>
            <div style="border-top: solid 1px gray; display: flex; flex-direction:row; margin-top: 10px">
                <div class="img_upload_space" style="width: 500px; height: 540px;">

                </div>
                <div style="border-left : solid 1px gray">
                    <div>
                        <textarea style="width: 276px;height: 400px;"class="form-control" id="" rows="5"></textarea>
                    </div> 
                    <button id="feed_create_btn" type="button" class="btn btn-primary" style="width: 100%;">
                        공유하기
                    </button>
                </div>
                
            </div>
            </div>
        </div>

    </div>
    <!-- jquery -->
    <script>
        $('#nav_add_box').click(function(){
            $('#first_modal').css({
                display: 'flex'
            })
            $(document.body).css({
                overflow: 'hidden'
            })
        })

        $('#feed_create_btn').click(function(){
            
        })

        $('.img_upload_space')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop",uploadFiles);

        function dragOver(e){
            e.stopPropagation();
            e.preventDefault();
            if(e.type == "dragover"){
                $(e.target).css({
                    "background-color" : "black",
                    "outline-offset" : "-20px"
                })
            } else {
                    $(e.target).css({
                        "outline-offset" : "-10px"
                    })
                }
            }
        function uploadFiles(e){
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer = e.originalEvent.dataTransfer;
            var files = e.target.files || e.dataTransfer.files;
            if(files.length >1 ){
                alert("하나만 올리시오");
                return;
            }
            if(files[0].type.match(/image.*/)){
                $('#first_modal').css({
                    display:'none'
                })
                $('#second_modal').css({
                    display : "flex"
                })
                $('.img_upload_space').css({
                  "background-image": "url("+window.URL.createObjectURL(files[0])+")",
                  "outline":"none",
                  "background-size" : "100%",
                  "background-repeat" : "no-repeat",
                  "background-position" : "center"
                })
            } else{
                alert('이미지가 아닙니다.')
                return;
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>



</html>